[user]
name = James Hunter
email = james.hunter@hootsuite.com
; email = james@bjorkman.ca
; signingkey = D25B3206BDC11CA0

[push]
default = current

[alias]
co = checkout
lg = log --pretty=format:'%C(cyan bold)%G?%C(reset) %C(yellow)%h %C(blue)%<(14,trunc)%an %C(green dim)%ci%C(reset) %C(white)%s %C(bold)%C(magenta)%d%C(reset)'
lgg = log --pretty=format:'%C(yellow)%h %C(cyan bold)%G?%C(reset) %C(blue)%<(14,trunc)%an %C(white)%s %C(red bold)%d%C(reset)'
delete = branch -D
del = branch -D
rename = branch -m
branch = branch -vv
new = "!f() { git checkout -b $1 origin/master; }; f"
delp = "!f() { git branch | grep $1 | xargs git del; }; f"
f = "!f() { git fetch; git status -sb; git branch -vv; }; f"
yolo = "!f() { git commit --amend --no-edit; git push -f; }; f"

[core]
excludesfile = ~/.gitignore_global
editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX

[credential]
helper = cache

[branch]
	autosetuprebase = always

; [commit]
;         pgsign = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[diff]
	tool = vimdiff
