[user]
name = James Hunter
email = james.hunter@hootsuite.com

[push]
default = current

[alias]
co = checkout
lg = log --pretty=format:'%C(cyan bold)%G?%C(reset) %C(yellow)%h %C(blue)%<(14,trunc)%an %C(green dim)%ci%C(reset) %C(white)%s %C(bold)%C(magenta)%d%C(reset)'
del = branch -D
rename = branch -m
branch = branch -vv
delp = "!f() { git branch | grep $1 | xargs git del; }; f"
YOLO = "!f() { git commit --amend --no-edit; git push -f; }; f"

[core]
excludesfile = ~/.gitignore_global
editor = vim
pager = diff-so-fancy | less --tabs=4 -RFX

[credential]
helper = cache

[branch]
autosetuprebase = always

[color]
ui = auto

[color "branch"]
current = yellow
local = 241
remote = green

[color "diff"]
meta = yellow
frag = magenta
old = red
new = green

[color "status"]
added = green
changed = yellow
untracked = magenta

[diff]
tool = vimdiff
