[user]
  name = James Bjorkman
  email = james@bjorkman.ca

[push]
  default = current

[alias]
  co = checkout
  lg = log --pretty=format:'%C(yellow)%h%C(red)%d %C(blue)%an %C(white)%s %C(reset)- %ar%C(reset)'
  delete = branch -D
  del = branch -D
  rename = branch -m
  new = checkout -b

[core]
  excludesfile = ~/.gitignore_global
  editor = vim
